<template>
  <div class="container">
    <form @submit.prevent="predictFishWeight" class="form">
      <h1>Customer Churn Dataset</h1>
      <table>
        <tr>
          <td>
            <label for="CustomerID">CustomerID:</label>
          </td>
          <td>
            <input
              class="color"
              id="CustomerID"
              type="text"
              v-model.number="CustomerData.CustomerID"
            />
          </td>
        </tr>
        <tr>
          <td>
            <label for="Age">Age:</label>
          </td>
          <td>
            <input class="color" id="Age" type="text" v-model.number="CustomerData.Age" />
          </td>
        </tr>
        <tr>
          <td>
            <label for="Gender">Gender:</label>
          </td>
          <td>
            <select
              id="Gender"
              v-model="CustomerData.Gender"
              class="color"
              style="margin-bottom: 10px"
            >
              <option value="0">Male</option>
              <option value="1">Female</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><label for="Tenure">Tenure:</label></td>
          <td>
            <input class="color" id="Tenure" type="text" v-model.number="CustomerData.Tenure" />
          </td>
        </tr>
        <tr>
          <td><label for="UsageFrequency">UsageFrequency:</label></td>
          <td>
            <input
              class="color"
              id="UsageFrequency"
              type="text"
              v-model.number="CustomerData.UsageFrequency"
            />
          </td>
        </tr>
        <tr>
          <td><label for="SupportCells">SupportCells:</label></td>
          <td>
            <input
              class="color"
              id="SupportCells"
              type="text"
              v-model.number="CustomerData.SupportCalls"
            />
          </td>
        </tr>
        <tr>
          <td><label for="PaymentDelay">PaymentDelay:</label></td>
          <td>
            <input
              class="color"
              id="PaymentDelay"
              type="text"
              v-model.number="CustomerData.PaymentDelay"
            />
          </td>
        </tr>
        <tr>
          <td>
            <label for="SubscriptionType">SubscriptionType:</label>
          </td>
          <td>
            <select
              id="SubscriptionType"
              v-model="CustomerData.SubscriptionType"
              class="color"
              style="margin-bottom: 10px"
            >
              <option value="0">Basic</option>
              <option value="1">Standard</option>
              <option value="2">Premium</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <label for="ContractLength">ContractLength:</label>
          </td>
          <td>
            <select
              id="ContractLength"
              v-model="CustomerData.ContractLength"
              class="color"
              style="margin-bottom: 10px"
            >
              <option value="0">Monthly</option>
              <option value="1">Quarterly</option>
              <option value="2">Annual</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><label for="TotalSpend">TotalSpend:</label></td>
          <td>
            <input
              class="color"
              id="TotalSpend"
              type="text"
              v-model.number="CustomerData.TotalSpend"
            />
          </td>
        </tr>
        <tr>
          <td><label for="LastInteraction">LastInteraction:</label></td>
          <td>
            <input
              class="color"
              id="LastInteraction"
              type="text"
              v-model.number="CustomerData.LastInteraction"
            />
          </td>
        </tr>
        <tr>
          <td><button class="color_btn" type="submit">Predict Customer Churn</button></td>
          <td>
            <p>{{ resMessage }}</p>
          </td>
        </tr>
      </table>
    </form>
    <p v-if="errorMessage" class="error">{{ errorMessage }}</p>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import axios from 'axios'

const errorMessage = ref<string>('')
const resMessage = ref<string>('')
const CustomerData = ref({
  CustomerID: 0,
  Age: 0,
  Gender: 0,
  Tenure: 0,
  UsageFrequency: 0,
  SupportCalls: 0,
  PaymentDelay: 0,
  SubscriptionType: 0,
  ContractLength: 0,
  TotalSpend: 0,
  LastInteraction: 0
})

const predictFishWeight = async () => {
  try {
    const response = await axios.post('http://localhost:8000/Cus/predict/', CustomerData.value)

    console.log('Predicted Churn:', response.data)
    resMessage.value = response.data
    errorMessage.value = ''
  } catch (error) {
    console.error('Failed to predict Churn:', error)
    errorMessage.value = 'Failed to predict Churn'
  }
}
</script>

<style scoped>
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgray;
  height: 100vh;
  margin: 0 auto;
  max-width: 800px; /* กำหนดความกว้างสูงสุด */
  padding: 20px;
}

.form {
  background-color: burlywood;
  padding: 50px;
  border-radius: 20px;
  border: 1px solid #000000;
}

.error {
  color: red;
}

.color {
  background-color: #ffffff;
  border: 1px solid #000000;
}
.color_btn {
  background-color: chocolate;
  border: 1px solid #000000;
}
.container {
  /* background-image: url('C:\Users\66828\Desktop\Fish60145\FishAI.png');
  background-size: cover; ให้รูปขยายเต็มพื้นที่ */
}
input,
button,
p {
  margin-top: 10px;
  margin-bottom: 10px;
}
.color_btn {
  padding: 10px 20px; /* ปรับขนาดด้วย padding */
  font-size: 16px; /* ปรับขนาดด้วย font-size */
}
</style>
